In [12]:
import pandas as pd
import numpy as np

In [13]:
mk_data=pd.read_csv('/Users/mojgun/Documents/IRONHACK/Exercise/WEEK1/customer-analysis-round-2/lab-customer-analysis-round-2/files_for_lab/csv_files/marketing_customer_analysis.csv')
#Show the dataframe shape.
display(mk_data)

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [14]:
#Standardize header names.

mk_data.columns = list(map(lambda x: x.lower(), mk_data.columns))
mk_data.columns = mk_data.columns.str.replace(" ","_")
display(mk_data)

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [15]:
#Which columns are numerical
display(mk_data.select_dtypes(np.number).columns)

#Which columns are categorical?
display(mk_data.select_dtypes('object').columns)

Index(['unnamed:_0', 'customer_lifetime_value', 'income',
       'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'total_claim_amount'],
      dtype='object')

Index(['customer', 'state', 'response', 'coverage', 'education',
       'effective_to_date', 'employmentstatus', 'gender', 'location_code',
       'marital_status', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'vehicle_class', 'vehicle_size', 'vehicle_type'],
      dtype='object')

In [16]:
#Showing the number of all null values in data

nulls_data = mk_data['state'].isna().sum()
display(nulls_data)

631

In [18]:
#Dealing with NaN value in "state"

na_row_indexes=mk_data[mk_data['state'].isna()==True].index
num_of_nas= len(na_row_indexes)

ch=np.array(mk_data[mk_data['state'].isna()==False].iloc[:,2])
for item in na_row_indexes:
    mk_data.iloc[item,2]=np.random.choice(ch,size=1)

In [ ]:
#Dealing with NaN value in "response"
mk_data['response'].value_counts()

na_row_indexes=mk_data[mk_data['response'].isna()==True].index
num_of_nas= len(na_row_indexes)

ch=np.array(mk_data[mk_data['response'].isna()==False].iloc[:,4])
for item in na_row_indexes:
    mk_data.iloc[item,4]=np.random.choice(ch,size=1)

In [ ]:
#Dealing with NaN value in "months_since_last_claim "

na_row_indexes=mk_data[mk_data['months_since_last_claim'].isna()==True].index
num_of_nas= len(na_row_indexes)

ch=np.array(mk_data[mk_data['months_since_last_claim'].isna()==False].iloc[:,14])
for item in na_row_indexes:
    mk_data.iloc[item,14]=np.random.choice(ch,size=1)

In [ ]:
#Dealing with NaN value in "number_of_open_complaints "

na_row_indexes=mk_data[mk_data['number_of_open_complaints'].isna()==True].index
num_of_nas= len(na_row_indexes)

ch=np.array(mk_data[mk_data['number_of_open_complaints'].isna()==False].iloc[:,16])
for item in na_row_indexes:
    mk_data.iloc[item,16]=np.random.choice(ch,size=1)

In [ ]:
#Dealing with NaN value in "vehicle_size "

na_row_indexes=mk_data[mk_data['vehicle_size'].isna()==True].index
num_of_nas= len(na_row_indexes)

ch=np.array(mk_data[mk_data['vehicle_size'].isna()==False].iloc[:,24])
for item in na_row_indexes:
    mk_data.iloc[item,24]=np.random.choice(ch,size=1)

In [ ]:
#Dealing with NaN value in "vehicle_type "

mk_data['vehicle_type'] = list(map(lambda x: 'A', mk_data['vehicle_type']))

In [ ]:
#Datetime format - Extract the months from the dataset and store in a separate column.

mk_data['effective_to_date'] = pd.to_datetime(mk_data['effective_to_date'], errors='coerce')

mk_data['month'] = pd.to_datetime(mk_data['effective_to_date']).dt.month

newdf = mk_data.loc[(mk_data.month == 1)|(mk_data.month == 2)|(mk_data.month == 3)]

In [ ]:
# importing Clean customer data
mk_data_clean=pd.read_csv('/Users/mojgun/Documents/IRONHACK/Exercise/WEEK1/lab-customer-analysis-round-3/files_for_lab/csv_files/marketing_customer_analysis.csv')

In [ ]:
#Show DataFrame info.
#Describe DataFrame.
#Show a plot of the total number of responses.
#Show a plot of the response rate by the sales channel.
#Show a plot of the response rate by the total claim amount.
#Show a plot of the response rate by income.

In [ ]:
#Show DataFrame info
mk_data_clean.info()

In [ ]:
#Standardize header names.

mk_data_clean.columns = list(map(lambda x: x.lower(), mk_data_clean.columns))
mk_data_clean.columns = mk_data_clean.columns.str.replace(" ","_")
display(mk_data_clean)

In [ ]:
#Describe DataFrame.
mk_data_clean.describe()

In [ ]:
#Show a plot of the total number of responses.
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline
sns.displot(mk_data_clean["response"])

In [ ]:
#Show a plot of the response rate by the sales channel.

sns.histplot(x ='response',hue='sales_channel', data=mk_data_clean)
plt.title('Response by channels')

plt.show()
sns.histplot(x='sales_channel', hue='response', data=mk_data_clean, multiple="dodge", shrink=.8)
plt.show()

In [ ]:
#Show a plot of the response rate by the total claim amount.

sns.barplot(data=mk_data_clean, y='total_claim_amount', x='response')
plt.show()

In [ ]:
#Show a plot of the response rate by income.

sns.barplot(data=mk_data_clean, y='income', x='response')
plt.show()